<!-- Header -->
<app-header></app-header>
<!-- Imagen relacionada con el contenido -->
<section class="imagen_admisiones">
    <img src="assets/admisiones.jpg" class="admisionesimg" alt="admisiones_1">
</section>
<!-- Titulo admisiones -->
<div class="container">
    <div class="row">
        <h1 class="col-sm-6 mx-auto mt-5 text-center display-6">Proceso de Admisiones</h1>
    </div>
</div>
<!-- Formulario -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <h2>Dejanos tus datos</h2>
                <div class="col-sm-12">
                    <label for="inputEmail4" class="form-label">Nombre</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-sm-12">
                    <label for="inputPassword4" class="form-label">Apellido</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-sm-12">
                    <label for="inputAddress" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="inputAddress">
                </div>
                <div class="col-sm-12">
                    <label for="inputAddress2" class="form-label">Email</label>
                    <input type="text" class="form-control" id="inputAddress2">
                </div>
                <div class="col-sm-12">
                    <label for="inputCity" class="form-label">Celular</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input m-3" type="checkbox" id="gridCheck">
                        <label class="form-check-label m-2" for="gridCheck">enviame correos informativos</label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container my-5">
                <div class="row">
                    <div class="col-sm-6 card mx-auto">
                        <img src="assets/persona_admisiones.jpg" class="card-img-top" alt="eleccion">
                        <div class="card-body">
                            <h3 class="card-title">Danielle Lockheart</h3>
                            <p class="card-text">Coordinadora de programa de admisiones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 card">
            <div class="card-body">
                <h3 class="card-title">Requisitos para aplicar</h3>
                <p class="card-text">Para aplicar a estos grados iniciales, no se requiere valoración previa de inglés. Los pasos a seguir son los siguientes:</p>
                <ol>
                    <li>Hacer la inscripción cancelando el valor no reembolsable de $200.000 (consignación virtual mediante enlace que envía la oficina de admisiones)</li>
                    <li>Diligenciar el formulario en línea subiendo los documentos requeridos* (tanto el enlace como los formularios llegarán a su correo una vez recibamos la inscripción)</li>
                    <li>Programar visita del estudiante y sus padres al colegio</li>
                    <li>Programar entrevista para los padres (presencial)</li>
                </ol>
                <div class="card-text">
                    <ul>
                        <li>admisiones-lc.com</li>
                        <li>+57 317 5140906</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Informacion de precios -->
<div class="container">
    <div class="row">
        <h1 class=" col-sm-6 mx-auto mt-5 text-center">Costos de Pension:</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 m-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col">B1 (20 SMLV)</th>
                    <th scope="col">B2 (10-20 SMLV)</th>
                    <th scope="col">B3 (8-14 SMLV)</th>
                    <th scope="col">B4 (-8 SMLV)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Costo Anual</th>
                    <td>$33’377.800</td>
                    <td>$30’488.600</td>
                    <td>$28’400.000</td>
                    <td>$26’200.000</td>
                </tr>
                <tr>
                    <th scope="row">Enrolamiento / Vinculacion</th>
                    <td>$3’337.800</td>
                    <td>$3’048.600</td>
                    <td>$2’840.000</td>
                    <td>$2’620.000</td>
                </tr>
                <tr>
                    <th scope="row">Costo Mensual</th>
                    <td>$3’004.000</td>
                    <td>$3’004.000</td>
                    <td>$2’744.000</td>
                    <td>$2’358.000</td>
                </tr>
                <tr>
                    <th scope="row">Costo con descuento</th>
                    <td>$2’703.600</td>
                    <td>$2’469.600</td>
                    <td>$2’300.400</td>
                    <td>$2’122.200</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
