<footer class="footer text-white">
    <div class="container-fluid">
        <div class="row text-left text-sm-left">
            <div class="col-4 contacto">
                <h4 class="font-weight-bold">Contacto</h4>
                <p> Calle 221 #52 - 02 <br> Bogotá, Colombia</p>
                <ul>
                    <li><i class="bi bi-phone">+57 3142190968</i></li>
                    <li><i class="bi bi-envelope"> learningcenter.edu.co</i></li>
                </ul>
                <p></p>
                <p>Horarios de oficina: <br> Lun - Vie, 7am - 4pm</p>
            </div>
            <div class="col-4 text-center">
                <h4 class="font-weight-bold">Suscribete al boletin semanal:</h4>
                <label for="emailS">Correo electronico:</label><br>
                <input type="text" id="emailS"> <br>
                <input type="submit" value="Suscribirse" class="button">
            </div>
            <div class="col-4 text-center">
                <h4 class="font-weight-bold">Tour Virtual:</h4>
                <a href="#"><img width="264" height="166" src="assets/virtual-tour.jpg" alt=""></a>
            </div>
        </div>
    </div>
</footer>
