<app-header></app-header>
<!-- Imagen relacionada con el contenido -->
<section class="imagen_admisiones">
    <img src="assets/mision_vision.jpg" class="admisionesimg" alt="admisiones_1">
</section>
 <!-- seccion informativa de valores clave -->
 <section class="container text-center my-5">
    <div class="row">
        <div class="col-sm-2 text-center">
            <h4>Valores Institucionales:</h4>
        </div>
        <div class="col-sm-2">
            <img src="assets/value1.webp" alt="" height="50px">
            <p>Amor</p>
        </div>
        <div class="col-sm-2">
            <img src="assets/value2.png" alt="" height="50px">
            <p>Respeto</p>
        </div>
        <div class="col-sm-2">
            <img src="assets/value3.png" alt="" height="50px">
            <p>Integridad</p>
        </div>
        <div class="col-sm-2">
            <img src="assets/value4.png" alt="" height="50px">
            <p>Servicio</p>
        </div>
        <div class="col-sm-2">
            <img src="assets/value5.png" alt="" height="50px">
            <p>Responsabilidad</p>
        </div>
    </div>
 </section>
 <!-- Informacion relacionada con el contenido -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="text-center">Mision</h3>
            <img class="col-sm-12 imagen-mision" src="assets/mision.jpg" alt="mision">
            <p class="text-center my-5">LC se dedica a fomentar un entorno de aprendizaje solidario y dinámico donde los estudiantes puedan prosperar
                académica, social y personalmente. Nuestra misión es cultivar aprendices de por vida, empoderar a futuros líderes e
                inspirar una pasión por la excelencia y la innovación.</p>
        </div>
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Vision</h3>
            <img class="col-sm-12 imagen-vision" src="assets/vision.jpg" alt="vision">
            <p class="text-center my-5">Somos institución educativa líder que inspira la creatividad, promueva el pensamiento crítico y
                prepara a los estudiantes para un futuro exitoso. Nos esforzamos por crear una comunidad vibrante donde cada
                estudiante esté empoderado para alcanzar sus sueños.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>