.bg-image:not(.container){
    background-image: url('../../../../public/assets/login_background.jpg');
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    border: 3px solid #f1f1f1; 
    padding: 20px; 
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -70%);
    background-color: rgba(0,0,0, 0.4);
    color: white;
}